# CakePHP main configurations
sakurapvp.net/app/tmp/*
sakurapvp.net/app/Config/core.php
sakurapvp.net/app/Config/database.php
sakurapvp.net/app/Config/email.php
sakurapvp.net/app/Vendor/OAuth/Config.php

# CakePHP dust
!empty

# Filesystem dust / Others
.DS_Store
.*.sw[a-p]
*.dat
*.tmp
ehthumbs.db
Thumbs.db
/*.gitignore
