body {
	padding-top: 60px;
	padding-bottom: 40px;
}

a {
	cursor: pointer;
}

#header-face {
	margin-top: -4px;
	margin-right: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #333;
}

.avatar-face {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
}

.server-thumbnail{
	padding-bottom: 20px;
}

/* Fix left margin issue of bootstrap thumbnail component */
.row-fluid ul.thumbnails li.span12 + li { margin-left: 0px; }
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) { margin-left: 0px; }
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) { margin-left: 0px; }
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) { margin-left: 0px; }
.row-fluid ul.thumbnails li.span2:nth-child(6n + 7) { margin-left: 0px; }
.row-fluid ul.thumbnails li.span1:nth-child(12n + 13) { margin-left: 0px; }