body {
	padding-top: 60px;
	padding-bottom: 40px;
}

a {
	cursor: pointer;
}

#header-face {
	margin-top: -4px;
	margin-right: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #333;
}